<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Group Status - UAT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Group Status App Store.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Group Status inHouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Group Status local.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>836D06EC188EF45D005BD8C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836D0710188EF45D005BD8C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A210701A373C180036516D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A210A41A49BB8E0036516D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83BAF42E1A13EEEF00D8082F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F7799C1A0BF8BB00E7132F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F779C81A0BF8E900E7132F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F779F41A0BFA3000E7132F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
